<h1>X Barbershop X</h1>
<p>---------------------------------------------------------------------------</p>
<p>Enter a new stylist:</p>

<form action="/stylists" method="post">
  <label for="stylist_name">Assign stylist name:</label>
  <input id="stylist_name" name="stylist_name" type="text">

  <button type="submit">Add stylist</button>
</form>

<% if @stylists.any?() %>
<p>Click on a stylist to see clients:</p>

<ul>
  <% @stylists.each do |stylist| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.stylist_name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no stylists</p>
<% end %>
<p>---------------------------------------------------------------------------</p>
